body{
  /*background: rgb(244,218,229);
  background: linear-gradient(90deg, rgba(244,218,229,1) 0%, rgba(217,75,75,1) 100%);*/
  background: rgb(1,121,183);
  background: linear-gradient(90deg, rgba(1,121,183,1) 15%, rgba(239,236,35,1) 100%);
}

.home{
  height:100%;
  width:100%;
}
h1{
  /*color:white;*/
  font-family: 'Lobster',cursive;
  font-size: 35px;
}

figure img{
	height:100px;
	width: 100px;
}

.prof{
	width:13%;
	height: auto;
}

.info{
	font-family: 'Open Sans', sans-serif;
}

.contact img:hover{
	animation: bounce 1s;
}

.contact{
	padding-bottom: 1em;
}