body{
  background: rgb(244,218,229);
  background: linear-gradient(90deg, rgba(244,218,229,1) 0%, rgba(217,75,75,1) 100%);
}

.home{
  height:100%;
  width:100%;
}
h1{
  color:white;
  font-family: 'Lobster',cursive;
  font-size: 35px;
}

figure img{
	height:100px;
	width: 100px;
}

.contact img:hover{
	animation: bounce 1s;
}

.contact{
	padding-bottom: 1em;
}