.matthew {
  border-radius: 50%;
}
body {
  background-image:url("http://38.media.tumblr.com/bf4f2f9e0bece729470590e613cad0c6/tumblr_nti7xg5GkZ1ru39xmo1_500.gif");
  background-size: cover;
}

.mainText {
  font-size: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  color:black;
}

.first {
	width: 1000px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
    background-color:white;
}

div {
	width: 500px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
    background-color:white;
}

.newDiv {
	width: 500px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    background-color:white;
}

.invisible {
  color:white;
  font-size: 6px;
}