.matthew {
  border-radius: 50%;
}

.titleText{
  font-family: 'Advent Pro', sans-serif;
  color:white;
  font-size:50px;
}

.start{
  background:#6666FF;
}

.mainText {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  color:black;
  text-decoration:none;
}

.mainText > a{
	text-decoration:none;
	color:blue;
	transition: all 0.2s ease;
}

.mainText > a:hover{
	color:red;
}

.first {
	background:#FF4D4D;
  height:20em;
}

.projects{
  background:#009900;
  height:20em;
}

.links {
  background:#CCCCFF;
  height:20em;
}

.invisible {
  color:#CCCCFF;
  font-size: 6px;
}

.pics {
    opacity: 0.2;
    filter: alpha(opacity=0);
    transition: all 0.2s ease;
}

.pics:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
