.exp_section {
    /* min-width: 100vw; */
    /* min-height: 100vh; */
    max-width: 100vw;
    background-color: #dba75b;
    color: black;
}

.previous-work-title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.previous-work {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.prev-work-subtitle {
    color: white;
}