.exp_section {
    max-width: 100vw;
    background-color: #ffd29a;
    color: black;
}

.previous-work-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.previous-work {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
