
.socials {
    margin-top: 2vmin;
}

@keyframes floating {
    from {
        transform: translateY(0px);
        filter: invert(0%);
    }
    to {
        transform: translateY(-10px);
        filter: invert(50%);
    }
}

a img:hover{
    /* filter: invert(100%);
    transform: translateY(-10px); */
    animation-duration: 0.8s;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}