.container {
    min-height: 10vh;
    background-color: #dba75b;
    mix-blend-mode: luminosity;
    align-items: center;
    align-content: center;
}

.container a{
    margin: 2vw;
}

.findMeAt {
    font-weight: bold;
}

.socials {
    margin-top: 2vmin;
}

@keyframes floating {
    from {
        transform: translateY(0px);
        filter: invert(0%);
    }
    to {
        transform: translateY(-10px);
        filter: invert(100%);
    }
}


.container a img:hover{
    /* filter: invert(100%);
    transform: translateY(-10px); */
    animation-duration: 0.8s;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}