.button {
    display:inline-block;
    padding:0.2em 3em;
    border:0.16em solid black;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color: black;
    text-align:center;
    transition: all 0.15s;
}

.button:hover{
    color:#DDDDDD;
    border-color:#5c2f27;
    background-color: #5c2f27;
}
.buttonActive{
    color: white;
    background-color: #5c2f27;
    display:inline-block;
    padding:0.2em 3em;
    border:0.16em solid #5c2f27;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    text-align:center;
}